.Details{
  display: flex;
  flex-direction: column;
  width: 78%;
  margin: 10px auto;
  padding: 10px;
}

.Details-description {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 100px 0px 0px 0px;

  & div {
    margin: 25px 0px;
  }
  & p {
    font-size: 28px;
    margin: 15px 0px 15px 0px;
  }
}

.Details-image {
  -webkit-clip-path: inset(0px 10px);
  clip-path: inset(0px 10px);
}

.description-left {
  width: 100%;
}

.description-right {
  width: 50%;
}