.CityForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 100%;
  position: relative;
  background-color: ghostwhite;

  & input {
    border-radius: 10px;
    border: none;
    height: 30px;
    width: 90%;
    margin: 10px;
    padding: 0px 0px 0px 10px;

    &[list]::-webkit-calendar-picker-indicator {
      display: none;
    }
  }

  & label {
    position: relative;
    right: 33%;
    margin: 0px 0px 0px 10px;
  }

  & button {
      height: 30px;
      width: 90%;
      border-radius: 10px;
      margin: 10px 0px 10px 0px;

    &:hover {
      font-style: italic;
    }

  }

  & p {
    margin: 10px 0px 10px 0px;
  }

}