.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  background-color: #2E2EC9;

  & div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 50%;
  }

  & h1 {
    color: snow;
    font-size: 46px;
    position: relative;

    & span {
      font-weight: bold;
      color: snow;
      z-index: 1;
    }
  }

  & img {
    position: absolute;
    height: 260px;
    width: 400px;
    top: -70px;
  }
}

main {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}

.forms {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 33%;
}

.placeholder {
  position: relative;
  height: 280px;
  width: 100%;

   & img {
    height: 200px;
    margin: 15px 0px 15px 0px;
    position: relative;
    max-width: 100%;

    &#circle {
      -webkit-clip-path: circle(75px at 50% 50%);
      clip-path: circle(100px at 50% 50%);
    }
  }
}

.nav {
  color: snow;
  text-decoration: none;

  &:hover {
    color: #6DECAF;
  }
}



// .App-link {
//   color: #61dafb;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
